body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

section{
    height:550px;
    margin-bottom: 100px;
    border: 2px solid red;
}

.top-part{
    background-image: url("images/header-bg.png");
    background-size:100% 100%;

}

h3{
    font-size: 40px;
}
h2{
    font-size: 50px;
}

p{
    color: dimgrey;
    padding-bottom: 20px;
}

.orange-highlighter{
    color:#FF4991;
}

.half-width{
    width:40%;
    float:left;
    margin-left: 4%;
    padding-left: 4%;
    height: 500px;
    margin-top: 25px;
}

.half-width img {
    max-width: 100%;
    max-height: 100%;

}


.link-button{
    background-color:#FF4991 ;
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding:10px 20px;
    margin-top: 10px;
    border-radius: 7px;
    background-image: linear-gradient(45deg,#FF4991 ,tomato);
}


.biography{
    background-image: url("images/biography-bg.png");
    background-size:100% 100%;
    
}


.latest-work{
    
    background-image: url("images/latest-work-bg.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    height: 450px;

}

.for-adjust{
    margin-left: 6%;
}

.onethird-width{
    width: 28%;
    float: left;
    margin-left: 2%;
}

.onethird-width img{
    max-width: 100%;
    max-height: 100%;
}